@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's on top of other content */
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Initially hidden */
    background-image: linear-gradient(to bottom, rgb(10 10 10 / 0%), rgb(10 10 10 / 100%)), url(/images/noise.png);
}

.overlay.open {
    transform: translateX(0); 
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin-left: 25%;
    text-align: left;
}

.overlay li {
    margin: 1rem 0;
}

.overlay a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.overlay a:hover {
    opacity: 0.8;
}

/* Ensure hamburger menu is only visible on small screens */
.hamburger-button {
    display: none;
}

@media (max-width: 1024px) { /* Adjust the breakpoint as needed */
    .hamburger-button {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .overlay.open ~ .nav-menu {
        display: none;
    }
}

@media (min-width: 1024px) { /* Adjust the breakpoint as needed */
    .hamburger-button {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .overlay {
        display: none;
    }
}
/* components/DroppingTexts.module.css */
.design {
    padding-left: 10%;
    text-align: center;
    padding-top: 20%;
    line-height: inherit;
    padding-bottom: 20%;
    color: #fff;
    font-size: 28px;
    font-weight: bolder;
    overflow: hidden;
    animation: bg 5s linear infinite;
  }
  
  .droppingTexts {
    display: inline-block;
    width: 180px;
    text-align: left;
    height: 28px;
    vertical-align: -2px;
  }
  
  .droppingTexts > div {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    position: absolute;
    font-weight: 300;  
  }
  
  .droppingTexts > div:nth-child(1) {
    animation: roll 6s linear infinite 0s;
  }
  .droppingTexts > div:nth-child(2) {
    animation: roll 6s linear infinite 1s;
  }
  .droppingTexts > div:nth-child(3) {
    animation: roll 6s linear infinite 2s;
  }
  .droppingTexts > div:nth-child(4) {
    animation: roll 6s linear infinite 3s;
  }
  .droppingTexts > div:nth-child(5) {
    animation: roll 6s linear infinite 4s;
  }
  .droppingTexts > div:nth-child(6) {
    animation: roll 6s linear infinite 5s;
  }
  
  @keyframes roll {
    0% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity: 1;
      transform: rotate(0deg);
    }
    5% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
    }
    10% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
      transform: rotate(0deg);
    }
    20% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
      transform: rotate(0deg);
    }
    27% {
      font-size: 0px;
      opacity: 0.5;
      margin-left: 20px;
      margin-top: 100px;
    }
    100% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(15deg);
    }
  }
  
  @keyframes bg {
    0% {background: #000;}
    3% {background: #000;}
    20% {background: #000;}
    23% {background: #000;}
    40% {background: #000;}
    43% {background: #000;}
    60% {background: #000;}
    63% {background: #000;}
    80% {background: #000;}
    83% {background: #000;}
    100% {background: #000;}
  }
  